# CivicDataLab - Assignment

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys

In [2]:
website = 'https://himkosh.nic.in/eHPOLTIS/PublicReports/wfrmBudgetAllocationbyFD.aspx'
path = r"C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe"

In [3]:
driver = webdriver.Chrome(path)
driver.get(website)

In [4]:
#selecting input date from calander
from_date = driver.find_element(By.ID, 'txtFromDate')
from_date.click()                      
from_date.send_keys(Keys.CONTROL, "a") 
from_date.send_keys(Keys.BACKSPACE)    
from_date.send_keys("01/04/2018") 
from_date.click()

In [5]:
#click on Done button
button = driver.find_element_by_xpath('//button[@data-handler = "hide"]')
button.click()

In [6]:
to_date = driver.find_element(By.ID, 'txtQueryDate')
to_date.click()                      
to_date.send_keys(Keys.CONTROL, "a") 
to_date.send_keys(Keys.BACKSPACE)    
to_date.send_keys("31/03/2022")

In [7]:
button = driver.find_element_by_xpath('//button[@data-handler = "hide"]')
button.click()

In [8]:
report_type = Select(driver.find_element(By.ID, 'ddlQuery'))
report_type.select_by_visible_text('Demand and HOA Wise Summary')

In [9]:
radio = driver.find_element(By.ID, 'MainContent_rbtUnit_0')   
radio.send_keys("Rupees") 
radio.click()

In [10]:
#clicking on View Data button
button = driver.find_element_by_xpath('//input[@value="View Data"]')
button.click()

In [11]:
table_element = driver.find_element(By.ID, 'hodAllocation')
table_rows = table_element.find_elements(By.TAG_NAME, 'tr')

In [12]:
import csv
csv_file = open('table_data.csv', 'w', newline='', encoding='utf-8')
csv_writer = csv.writer(csv_file)

In [13]:
#Writing data to csv file
for row in table_rows:
    # Extract the table cells for each row
    cells = row.find_elements(By.TAG_NAME, 'td')
    row_data = []
    for cell in cells:
        # Extract the text from each cell
        cell_text = cell.text
        row_data.append(cell_text)

    # Write the row data to the CSV file
    csv_writer.writerow(row_data)

In [14]:
csv_file.close()
driver.quit()

In [22]:
import pandas as pd
df = pd.read_csv(r"C:/Users/DELL/Desktop/Web Scrapping/table_data.csv",sep=',',header=2)
df

,DmdCd,HOA,Sanction Budget\n(April),Addition,Saving,Revised Budget\n(A),Expenditure\n(within selected period) (B),Balance\n(A-B)
0,Grand Total,NaN,5.677792e+11,6.082265e+10,7.944651e+10,5.491554e+11,3.547298e+11,1.944256e+11
1,01-VIDHAN SABHA,Total,4.592620e+08,8.075100e+07,4.115000e+06,5.358980e+08,4.943562e+08,4.154178e+07
2,NaN,01-2011-02-101-01-S00N-01-N-C-SALARIES,9.200000e+06,1.100000e+06,0.000000e+00,1.030000e+07,1.027832e+07,2.168100e+04
3,NaN,01-2011-02-101-01-S00N-03-N-C-TRAVEL EXPENSES,1.435000e+06,5.000000e+05,0.000000e+00,1.935000e+06,1.934352e+06,6.480000e+02
4,NaN,01-2011-02-101-01-S00N-06-N-C-MEDICAL REIMBURS...,1.160000e+05,0.000000e+00,0.000000e+00,1.160000e+05,7.540000e+04,4.060000e+04
...,...,...,...,...,...,...,...,...
7459,NaN,32-5452-80-789-01-S00N-37-P-V-MAJOR WORKS,2.750000e+07,0.000000e+00,1.167461e+07,1.582539e+07,1.582539e+07,0.000000e+00
7460,NaN,32-5452-80-789-02-S00N-37-N-V-MAJOR WORKS,1.260000e+08,0.000000e+00,0.000000e+00,1.260000e+08,1.260000e+08,0.000000e+00
7461,NaN,32-6225-01-789-02-S00N-48-P-V-LOANS,1.000000e+05,0.000000e+00,0.000000e+00,1.000000e+05,0.000000e+00,1.000000e+05
7462,NaN,32-6801-00-789-02-S00N-48-P-V-LOANS,1.965000e+08,0.000000e+00,0.000000e+00,1.965000e+08,0.000000e+00,1.965000e+08
7463,NaN,32-6801-00-789-03-S00N-48-P-V-LOANS,5.786000e+08,0.000000e+00,0.000000e+00,5.786000e+08,5.299550e+08,4.864500e+07

In [23]:
df.dtypes

DmdCd                                         object
HOA                                           object
Sanction Budget\n(April)                     float64
Addition                                     float64
Saving                                       float64
Revised Budget\n(A)                          float64
Expenditure\n(within selected period) (B)    float64
Balance\n(A-B)                               float64
dtype: object

In [17]:
clean_df1 = df[ (df['DmdCd'] != 'Grand Total') & (df['HOA'] != 'Total')]
clean_df1

,DmdCd,HOA,Sanction Budget\n(April),Addition,Saving,Revised Budget\n(A),Expenditure\n(within selected period) (B),Balance\n(A-B)
2,NaN,01-2011-02-101-01-S00N-01-N-C-SALARIES,9200000.0,1100000.0,0.0,10300000.0,10278319.0,21681.0
3,NaN,01-2011-02-101-01-S00N-03-N-C-TRAVEL EXPENSES,1435000.0,500000.0,0.0,1935000.0,1934352.0,648.0
4,NaN,01-2011-02-101-01-S00N-06-N-C-MEDICAL REIMBURS...,116000.0,0.0,0.0,116000.0,75400.0,40600.0
5,NaN,01-2011-02-101-01-S00N-20-N-V-OTHER CHARGES,4000000.0,0.0,0.0,4000000.0,4000000.0,0.0
6,NaN,01-2011-02-101-03-S00N-01-N-V-SALARIES,133560000.0,0.0,3100000.0,130460000.0,126634194.0,3825806.0
...,...,...,...,...,...,...,...,...
7459,NaN,32-5452-80-789-01-S00N-37-P-V-MAJOR WORKS,27500000.0,0.0,11674613.0,15825387.0,15825387.0,0.0
7460,NaN,32-5452-80-789-02-S00N-37-N-V-MAJOR WORKS,126000000.0,0.0,0.0,126000000.0,126000000.0,0.0
7461,NaN,32-6225-01-789-02-S00N-48-P-V-LOANS,100000.0,0.0,0.0,100000.0,0.0,100000.0
7462,NaN,32-6801-00-789-02-S00N-48-P-V-LOANS,196500000.0,0.0,0.0,196500000.0,0.0,196500000.0
7463,NaN,32-6801-00-789-03-S00N-48-P-V-LOANS,578600000.0,0.0,0.0,578600000.0,529955000.0,48645000.0

In [24]:
clean_df1 = df.fillna('null')
clean_df1

,DmdCd,HOA,Sanction Budget\n(April),Addition,Saving,Revised Budget\n(A),Expenditure\n(within selected period) (B),Balance\n(A-B)
0,Grand Total,null,5.677792e+11,6.082265e+10,7.944651e+10,5.491554e+11,3.547298e+11,1.944256e+11
1,01-VIDHAN SABHA,Total,4.592620e+08,8.075100e+07,4.115000e+06,5.358980e+08,4.943562e+08,4.154178e+07
2,null,01-2011-02-101-01-S00N-01-N-C-SALARIES,9.200000e+06,1.100000e+06,0.000000e+00,1.030000e+07,1.027832e+07,2.168100e+04
3,null,01-2011-02-101-01-S00N-03-N-C-TRAVEL EXPENSES,1.435000e+06,5.000000e+05,0.000000e+00,1.935000e+06,1.934352e+06,6.480000e+02
4,null,01-2011-02-101-01-S00N-06-N-C-MEDICAL REIMBURS...,1.160000e+05,0.000000e+00,0.000000e+00,1.160000e+05,7.540000e+04,4.060000e+04
...,...,...,...,...,...,...,...,...
7459,null,32-5452-80-789-01-S00N-37-P-V-MAJOR WORKS,2.750000e+07,0.000000e+00,1.167461e+07,1.582539e+07,1.582539e+07,0.000000e+00
7460,null,32-5452-80-789-02-S00N-37-N-V-MAJOR WORKS,1.260000e+08,0.000000e+00,0.000000e+00,1.260000e+08,1.260000e+08,0.000000e+00
7461,null,32-6225-01-789-02-S00N-48-P-V-LOANS,1.000000e+05,0.000000e+00,0.000000e+00,1.000000e+05,0.000000e+00,1.000000e+05
7462,null,32-6801-00-789-02-S00N-48-P-V-LOANS,1.965000e+08,0.000000e+00,0.000000e+00,1.965000e+08,0.000000e+00,1.965000e+08
7463,null,32-6801-00-789-03-S00N-48-P-V-LOANS,5.786000e+08,0.000000e+00,0.000000e+00,5.786000e+08,5.299550e+08,4.864500e+07

In [25]:
splitted_df = clean_df1["DmdCd"].str.split("-", n = 1, expand = True)  
clean_df1["DemandCode"]= splitted_df[0]
clean_df1["Demand"]= splitted_df[1]
clean_df1

,DmdCd,HOA,Sanction Budget\n(April),Addition,Saving,Revised Budget\n(A),Expenditure\n(within selected period) (B),Balance\n(A-B),DemandCode,Demand
0,Grand Total,null,5.677792e+11,6.082265e+10,7.944651e+10,5.491554e+11,3.547298e+11,1.944256e+11,Grand Total,None
1,01-VIDHAN SABHA,Total,4.592620e+08,8.075100e+07,4.115000e+06,5.358980e+08,4.943562e+08,4.154178e+07,01,VIDHAN SABHA
2,null,01-2011-02-101-01-S00N-01-N-C-SALARIES,9.200000e+06,1.100000e+06,0.000000e+00,1.030000e+07,1.027832e+07,2.168100e+04,null,None
3,null,01-2011-02-101-01-S00N-03-N-C-TRAVEL EXPENSES,1.435000e+06,5.000000e+05,0.000000e+00,1.935000e+06,1.934352e+06,6.480000e+02,null,None
4,null,01-2011-02-101-01-S00N-06-N-C-MEDICAL REIMBURS...,1.160000e+05,0.000000e+00,0.000000e+00,1.160000e+05,7.540000e+04,4.060000e+04,null,None
...,...,...,...,...,...,...,...,...,...,...
7459,null,32-5452-80-789-01-S00N-37-P-V-MAJOR WORKS,2.750000e+07,0.000000e+00,1.167461e+07,1.582539e+07,1.582539e+07,0.000000e+00,null,None
7460,null,32-5452-80-789-02-S00N-37-N-V-MAJOR WORKS,1.260000e+08,0.000000e+00,0.000000e+00,1.260000e+08,1.260000e+08,0.000000e+00,null,None
7461,null,32-6225-01-789-02-S00N-48-P-V-LOANS,1.000000e+05,0.000000e+00,0.000000e+00,1.000000e+05,0.000000e+00,1.000000e+05,null,None
7462,null,32-6801-00-789-02-S00N-48-P-V-LOANS,1.965000e+08,0.000000e+00,0.000000e+00,1.965000e+08,0.000000e+00,1.965000e+08,null,None
7463,null,32-6801-00-789-03-S00N-48-P-V-LOANS,5.786000e+08,0.000000e+00,0.000000e+00,5.786000e+08,5.299550e+08,4.864500e+07,null,None

In [26]:
splitted_df = clean_df1["HOA"].apply(lambda x: pd.Series(str(x).split("-"))) 
splitted_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,2011,02,101,01,S00N,01,N,C,SALARIES,NaN,NaN,NaN
3,01,2011,02,101,01,S00N,03,N,C,TRAVEL EXPENSES,NaN,NaN,NaN
4,01,2011,02,101,01,S00N,06,N,C,MEDICAL REIMBURSEMENT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7459,32,5452,80,789,01,S00N,37,P,V,MAJOR WORKS,NaN,NaN,NaN
7460,32,5452,80,789,02,S00N,37,N,V,MAJOR WORKS,NaN,NaN,NaN
7461,32,6225,01,789,02,S00N,48,P,V,LOANS,NaN,NaN,NaN
7462,32,6801,00,789,02,S00N,48,P,V,LOANS,NaN,NaN,NaN
7463,32,6801,00,789,03,S00N,48,P,V,LOANS,NaN,NaN,NaN

In [27]:
clean_df1["MajorHead"]= splitted_df[0]
clean_df1["SubMajorHead"]= splitted_df[1]
clean_df1["MinorHead"]= splitted_df[2]
clean_df1["SubMinorHead"]= splitted_df[3]
clean_df1["DetailHead"]= splitted_df[4]
clean_df1["SubDetailHead"]= splitted_df[5]
clean_df1["BudgetHead"]= splitted_df[6]
clean_df1["PlanNonPlan"]= splitted_df[7]
clean_df1["VotedCharged"]= splitted_df[8]
clean_df1["StatementofExpenditure"]= splitted_df[9]
clean_df1

,DmdCd,HOA,Sanction Budget\n(April),Addition,Saving,Revised Budget\n(A),Expenditure\n(within selected period) (B),Balance\n(A-B),DemandCode,Demand,MajorHead,SubMajorHead,MinorHead,SubMinorHead,DetailHead,SubDetailHead,BudgetHead,PlanNonPlan,VotedCharged,StatementofExpenditure
0,Grand Total,null,5.677792e+11,6.082265e+10,7.944651e+10,5.491554e+11,3.547298e+11,1.944256e+11,Grand Total,None,null,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01-VIDHAN SABHA,Total,4.592620e+08,8.075100e+07,4.115000e+06,5.358980e+08,4.943562e+08,4.154178e+07,01,VIDHAN SABHA,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,null,01-2011-02-101-01-S00N-01-N-C-SALARIES,9.200000e+06,1.100000e+06,0.000000e+00,1.030000e+07,1.027832e+07,2.168100e+04,null,None,01,2011,02,101,01,S00N,01,N,C,SALARIES
3,null,01-2011-02-101-01-S00N-03-N-C-TRAVEL EXPENSES,1.435000e+06,5.000000e+05,0.000000e+00,1.935000e+06,1.934352e+06,6.480000e+02,null,None,01,2011,02,101,01,S00N,03,N,C,TRAVEL EXPENSES
4,null,01-2011-02-101-01-S00N-06-N-C-MEDICAL REIMBURS...,1.160000e+05,0.000000e+00,0.000000e+00,1.160000e+05,7.540000e+04,4.060000e+04,null,None,01,2011,02,101,01,S00N,06,N,C,MEDICAL REIMBURSEMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7459,null,32-5452-80-789-01-S00N-37-P-V-MAJOR WORKS,2.750000e+07,0.000000e+00,1.167461e+07,1.582539e+07,1.582539e+07,0.000000e+00,null,None,32,5452,80,789,01,S00N,37,P,V,MAJOR WORKS
7460,null,32-5452-80-789-02-S00N-37-N-V-MAJOR WORKS,1.260000e+08,0.000000e+00,0.000000e+00,1.260000e+08,1.260000e+08,0.000000e+00,null,None,32,5452,80,789,02,S00N,37,N,V,MAJOR WORKS
7461,null,32-6225-01-789-02-S00N-48-P-V-LOANS,1.000000e+05,0.000000e+00,0.000000e+00,1.000000e+05,0.000000e+00,1.000000e+05,null,None,32,6225,01,789,02,S00N,48,P,V,LOANS
7462,null,32-6801-00-789-02-S00N-48-P-V-LOANS,1.965000e+08,0.000000e+00,0.000000e+00,1.965000e+08,0.000000e+00,1.965000e+08,null,None,32,6801,00,789,02,S00N,48,P,V,LOANS
7463,null,32-6801-00-789-03-S00N-48-P-V-LOANS,5.786000e+08,0.000000e+00,0.000000e+00,5.786000e+08,5.299550e+08,4.864500e+07,null,None,32,6801,00,789,03,S00N,48,P,V,LOANS

In [28]:
clean_df1.rename(columns = {'Sanction Budget\n(April)':'Sanction Budget', 'Revised Budget\n(A)':'Revised Budget','Balance\n(A-B)':'Balance','Expenditure\n(within selected period) (B)':'Expenditure'}, inplace = True)
clean_df1.dtypes

DmdCd                      object
HOA                        object
Sanction Budget           float64
Addition                  float64
Saving                    float64
Revised Budget            float64
Expenditure               float64
Balance                   float64
DemandCode                 object
Demand                     object
MajorHead                  object
SubMajorHead               object
MinorHead                  object
SubMinorHead               object
DetailHead                 object
SubDetailHead              object
BudgetHead                 object
PlanNonPlan                object
VotedCharged               object
StatementofExpenditure     object
dtype: object

In [29]:
import sqlite3

In [30]:
conn = sqlite3.connect('mydb.db')

In [31]:
clean_df1.to_sql('hp_table', conn, if_exists='replace', index=False)

7464

In [32]:
conn.commit()
conn.close()